<!DOCTYPE html>
<html lang="en">
<head>
<link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>tshirtly</title>
</head>
<body>
  <h1>Pick a Shirt</h1>
  <div>
      <form action="/users/new" method="POST">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="Email" name="email">
    <button>Submit</button>
  </form>

  </div>
  <ul>
    <% tshirts.each do |tshirt| %>
      <li>
        <a href="/tshirt/<%= tshirt.id %>">

        </a>
        <%= tshirt.price %>
      </li>
    <% end %>
  </ul>
</body>
</html>
