<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
 </head>
<body>

  <form action="/tshirt/<%= tshirt.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" placeholder="Quantity" value="<%= tshirt.quantity %>">
    <button>Submit</button>
  </form>
  

  <form>
    <input type="text">
  </form>
</body>
</html>

