<!DOCTYPE html>
<html lang="en">
<head>
<!--   <link rel="stylesheet" type="text/css" href="/styles.css">
 -->  <meta charset="UTF-8">
  <title>tshirtsly</title>
</head>
<body>
  <a href="/">Pick a Shirt</a>
  <ul>
    <% tshirts.each do |tshirt| %>
      <li>
        <a href="/tshirt/<%= tshirt.id %>">
        <%= tshirts.img %>
        </a>
      </li>
    <% end %>
  </ul>
</body>
</html>
