<!DOCTYPE html>
<html lang="en">
    <head>
 <!-- Bootstrap CSS -->
 <link href='http://fonts.googleapis.com/css?family=Muli|Raleway:700' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <button id="log" type="button" class="btn btn-warn2ing btn-lg" data-toggle="modal" data-target="#biggerBoat">
    Log In
  </button>

  <!-- Modal -->
  <div class="modal fade" id="biggerBoat">
    <!-- fade means fade in. modal is for prompt window on the site. -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Log In </h4>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" id ="email" placeholder="Your e-mail">
            <input type="text" id ="username" placeholder="User name">
            <button type="submit" id ="info"> Log In </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <h1>Plain T-Shirt Store</h1>
  <h1>Our Website is Cooler than our Shirts</h1>
  <!-- <img src= "http://pimg.tradeindia.com/01471092/b/1/Round-Neck-T-Shirts.jpg"> -->


 <div class = "shirt"><img src="http://i.imgur.com/Q8IdUB1.jpg?1" title="source: imgur.com" /></div>
 <div class= "price"><p> $15</p></div>
 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#purple">
 Select
</button>


<div class="modal fade" id="purple">
<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
   </div>
   <div class="modal-body">You selected purple.</div>
 </div>
</div>
</div>
</div>



<div class = "shirt"><img src="http://i.imgur.com/FYPrFN5.jpg?1" title="source: imgur.com" /></div>
<div class= "price"><p> $15</p></div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#yellow">
Select
</button>
<div class="modal fade" id="yellow">
<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
   </div>
   <div class="modal-body">
     You selected Yellow.
   </div>
 </div>
</div>
</div>



<div class ="shirt"><img src="http://i.imgur.com/o4FNEwJ.jpg?1" title="source: imgur.com" /></div>
<div class= "price"><p> $15</p></div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#blue">
Select
</button>

<div class="modal fade" id="blue">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
      </div>
      <div class="modal-body">
        You selected Blue.
      </div>
    </div>
  </div>
</div>



<div class ="shirt"><img src="http://i.imgur.com/wonz2W6.jpg?1" title="source: imgur.com" /></div>
<div class= "price"><p> $15</p></div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#red">
Select
</button>
</div>

<div class="modal fade" id="red">
<div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
   </div>
   <div class="modal-body">
     You selected Red.
   </div>
 </div>
</div>
</div>



 <!-- Bootstrap JS -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
