<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Bootstrap CSS -->
        <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
            h1 {font-family: 'Frijole', cursive;
            text-align: center;
            }
            img { display: block;
            margin-left: auto;
            margin-right: auto
            }
            .shirt{
                height: 120px;
            width: auto;
            overflow: hidden;
                }

            </style>

        </head>
        <h1>Plain T-Shirt Store</h1>
        <h2>Our Website is Cooler than our Shirts</h2>
        <img src= "http://pimg.tradeindia.com/01471092/b/1/Round-Neck-T-Shirts.jpg">
        <body>
            <div class = "shirt"><img src= "http://shopzinia.com/1806-thickbox_default/kaf-plain-v-neck-t-shirt-light-purple.jpg">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#biggerBoat">
                Select
            </button>
            <div class="modal fade" id="biggerBoat">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
                        </div>
                        <div class="modal-body">
                            You selected purple.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "shirt"><img src= "http://cdn.shopclues.com/images/detailed/317/Yellow_1377323825.jpg"></div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#biggerBoat">
        Select
        </button>
        <div class="modal fade" id="biggerBoat">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
                    </div>
                    <div class="modal-body">
                        You selected Yellow.
                    </div>
                </div>
            </div>
        </div>
        <div class ="shirt">
        <img src="http://dpegb9ebondhq.cloudfront.net/product_photos/142477/ep01_organic_t-shirt_blue_original.jpg"</img>
        
        <div class ="yellow"><img src ="http://dpegb9ebondhq.cloudfront.net/product_photos/142477/ep01_organic_t-shirt_blue_original.jpg"></div>
        
        <div class ="shirt"><img src = "http://www.sydandrex.com/shop/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/t/mtscrred_1.jpg"</div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#biggerBoat">
        Select
        </button>
        
        <div class="modal fade" id="biggerBoat">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Thank You!</h4>
                    </div>
                    <div class="modal-body">
                        You selected Red.
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>